/* Main menu */

.navbar {
	border-radius: 0px;
}

.navbar-default {
	background-color: #e95420;
	border-color: #d34615;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-brand:hover {
	color: white;
	cursor: pointer;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-nav > li > a:hover {
	color: white;
	opacity: 0.8;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    opacity: 0.6;
}

.navbar-collapse.in {
	text-align: center;
}

/* Login & Register */
.panel-default > .panel-heading {
	background-color: rgb(233, 84, 32);
	color: white;
}

.login-panel {
	margin-top: 6em;
}

.pagealerts {
	color: rgba(150, 150, 150);
}

/* Tables */
table.borderless td,table.borderless th{
     border: none !important;

}

/* Group */
.author {
	font-size: 14px;
}

/* Create group */
#editor-container {
  height: 375px;
}

/* Title */
.page-header{
	padding-bottom: 10px;
	margin: 0;
}